<div id="header">
  <div class="backnav">
    <i class="back_arrow" (click)="goBack()"></i>
    <button id="titleheader" (click)="goBack()"> {{back_nav}}</button>
  </div>
</div>
<h1>Covid-19 <span class="title color-amber">Quiz</span></h1>
<div *ngIf="!quizCompleted && !questionCompleted" class="mainBody">
  <div class="row"> 
    <h1 class="titles">{{question}}</h1>
  </div>
  <div class="row" >
    <button id="btn1" class = "btn" (click)="answerSelected(0)">
      {{displayQuestions.qOneText}}
    </button>
    <button id="btn2" class="btn" (click)="answerSelected(1)">
      {{displayQuestions.qTwoText}}
    </button>
  </div>
  <div class="row">
    <button id="btn3" class="btn" (click)="answerSelected(2)">
      {{displayQuestions.qThreeText}}
    </button>
    <button id="btn4" class="btn" (click)="answerSelected(3)">
      {{displayQuestions.qFourText}}
    </button>
  </div>
</div>
<div *ngIf="!quizCompleted && questionCompleted" class="mainbody nextQ">
  <div>
    <h1 class="titles">{{mark}}</h1>
  </div>
  <div>
    <p id="answer" class="answer">{{answer}}</p>
  </div>
    <button id="next" (click)="nextQuestion()">
      Next
    </button>
</div>

<div *ngIf="quizCompleted" class="mainBody nextQ">
  <h1 id="score">{{score}} / 10</h1>
  <button id="goBack" (click)="goBack()">
    Go Back
  </button>
<div id="references">
  https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html<br>
  https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/share-facts.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fsymptoms-testing%2Fshare-facts.html<br>
  https://www.nytimes.com/2020/03/26/health/usa-coronavirus-cases.html<br>
  https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection/prevention-risks.html
</div>
</div>

