<p>
  The effect on the environment by Covid-19 has been quite different from its effect on other sectors.
  As a result of the drastic measures governments have had to take, the environment seems to be flourishing while we
  humans are all in confinement.
  Some people see these environmental changes as a message from nature and it's hard to disagree with them.
</p>
<p>
  In order to slow the spread of the novel coronavirus, many countries shut their borders to neighbouring or highly
  affected nations.
  This move forced many airlines to ground their planes that fly to or from the affected or closed-off nations.
  Air travel contributes 5.7% of total man-made carbon dioxide emissions, 55% of which comes from the US, China and
  Europe.
  It has also been calculated that global manufacturing contributes roughly 8.9% of all greenhouse gas emissions.
  The rise of Covid-19 and its infectious nature notoriously squeezed many supply chains and brought some to a
  screeching halt with many factories shutting down -- something that has particularly troubled the technology sector as
  many new devices won't be released due to a lack of components.
  As these countries began to shut their borders, shut down factories and airlines shut down flight routes, the
  percentage of greenhouse gas emissions subsequently began to drop.
  The result of this is cleaner, greener skies.
</p>
<p>
  Now, it's important to take this all with a pinch of salt.
  We've seen in the past how reductions in global emissions as a result of crises quickly rebounds as countries scramble
  to re-boot their economies.
  Julia Pongratz, a professor for physical geography and land use systems at the Department of Geography at the
  University of Munich, Germany estimates that the longer the pandemic lasts, the less likely it will be that emission
  levels will come surge back up.
  Glen Peters from the Center for International Climate and Environment Research in Oslo, however, noted that for 2020,
  emissions may overall still be lower than it was during the global financial crisis of 2008 (by 0.3%).
  We, at Covid-19 vs The World, chose to remain hopeful that with collective effort and activism, we will emerge from
  this crisis as more cognizant of how we treat our beloved marble.
</p>
<h3>Remarks</h3>
<p>
  There is still so much more we haven't covered in this essay.
  As the pandemic continues to develop, we encourage everyone to take a cautionary approach when reading any information
  about Covid-19.
  Here are our references for this essay:
</p>
<p><i>Also, we regonise that in-text citations were omitted from this text. This was due to time constrains, we will add
    them later.</i></p>
<div id="references">
  https://www.theguardian.com/world/2020/mar/25/coronavirus-nature-is-sending-us-a-message-says-un-environment-chief<br>
  https://www.aljazeera.com/news/2020/03/canada-close-borders-noncitizens-coronavirus-200316185001271.html<br>
  https://nypost.com/2020/03/26/china-closes-borders-to-prevent-new-coronavirus-outbreak/<br>
  https://www.theverge.com/2020/3/18/21185034/us-canada-border-closed-coronavirus-non-essential-traffic<br>
  https://www.theguardian.com/business/2019/sep/19/airlines-co2-emissions-rising-up-to-70-faster-than-predicted<br>
  https://www.c2es.org/content/international-emissions/<br>
  https://www.theverge.com/2020/3/27/21195953/tech-manufacturing-companies-coronavirus-lockdown-apple-electronics-china<br>
  https://www.bbc.com/future/article/20200326-covid-19-the-impact-of-coronavirus-on-the-environment<br>
  https://theconversation.com/how-changes-brought-on-by-coronavirus-could-help-tackle-climate-change-133509<br>
</div>
