<div id="header">
  <img src="/assets/img/header_img.jpg" class="drop-shadow" />
  <div>
    <h1>Covid-19 vs The World</h1>
    <h2>Who's affected?</h2>
  </div>
</div>
<div id="about-covid">
  <h3 class="color-amber">
    <i class="fas fa-info-circle"></i>
    What is Covid-19?
  </h3>
  <p><i>According to the <a href="https://www.who.int/health-topics/coronavirus">WHO <i
          class="fas fa-external-link-alt"></i></a></i></p>
  <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Symptoms include:
  </p>
  <ul>
    <li>fever</li>
    <li>tiredness</li>
    <li>dry cough</li>
    <li>shortness of breath</li>
    <li>aches and pains</li>
    <li>sore throat</li>
    <li>and very few people will report diarrhoea, nausea or a runny nose.</li>
  </ul>
</div>
<div id="about-ctw">
  <h3 class="color-accent">
    <i class="fas fa-info-circle"></i>
    What is Covid-19 vs The World?
  </h3>
  <p>
    The aim of this website is to show the different ways in which the novel coronavirus has affected people's ways of
    life.
    The effects of the virus, unfortunately, disproportionally affects some people over others.
    By using this website, you'll hopefully learn more about these people and some ways that you can help them.
  </p>
</div>
<div class="divider"></div>
<div id="buttons">
  <div class="row">
    <div class="col-md-4 btn-box">
      <a class="btn" href="/people">
        People
      </a>
    </div>
    <div class="col-md-4 btn-box">
      <a class="btn" href="/society">
        Society
      </a>
    </div>
    <div class="col-md-4 btn-box">
      <a class="btn" href="/quiz">
        Quiz
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 btn-box">
      <a class="btn help" href="/help">
        What can you do to help?
      </a>
    </div>
    <div class="col-md-4 btn-box">
      <a class="btn help" href="/stories">
        Real People's Stories
      </a>
    </div>
  </div>
</div>
