<h1>Covid-19 affects <span class="title color-amber">Society</span></h1>
<div id="society">
  <div class="row">
    <div class="col-md-4 dem-box ctr color-inverse">
      <a class="dem" href="/society/countries">
        Countires
      </a>
    </div>
    <div class="col-md-4 dem-box lif color-inverse">
      <a class="dem" href="/society/environment">
        The Environment
      </a>
    </div>
    <div class="col-md-4 dem-box eld color-inverse">
      <a class="dem" href="/society/stocks_and_trade">
        Stocks & Trade
      </a>
    </div>
    <div class="col-md-4 dem-box std color-inverse">
      <a class="dem" href="/society/tourism">
        Tourism
      </a>
    </div>
  </div>
</div>
