#people {
  display: flex;
  margin: 30px 10px 70px 10px;
  justify-content: center;
}

#people .dem-box {
  margin-top: 20px;
}

#people .dem-box.hw {
  /* Hourly workers */
}
#people .dem-box.lif {
  /* low-income familes */
}
#people .dem-box.eld {
  /* elderly */
}
#people .dem-box.std {
  /* students */
}
#people .dem-box.sbu {
  /* small business owners */
}

#people .dem-box .dem {
  display: flex;
  width: 100%;
  height: 170px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: unset !important;
  background-color: rgba(128, 128, 128, 0.623);
}

#people .dem-box .dem:hover {
  width: calc(100% + 10px);
  height: 175px;
  margin-left: -5px;
  margin-top: -2.5px;
  background-color: rgba(128, 128, 128, 0.323);
}

.title {
  text-decoration: underline;
}