
<div id="header">
  <div class="backnav">
    <i class="back_arrow" (click)="goBack()"></i>
    <button id="titleheader" (click)="goBack()"> {{back_nav}}</button>
  </div>
</div>
<h1>Covid-19 affects <span class="title color-amber">People</span></h1>

<div id="people" class="row">
  <div class="col-md-4 dem-box hw color-inverse">
    <a class="dem" href="/people/hourly_workers">
      Hourly Workers
    </a>
  </div>
  <div class="col-md-4 dem-box lif color-inverse">
    <a class="dem" href="/people/low_income_families">
      Low-Income Families
    </a>
  </div>
  <div class="col-md-4 dem-box eld color-inverse">
    <a class="dem" href="/people/elderly">
      The Elderly
    </a>
  </div>
  <div class="col-md-4 dem-box std color-inverse">
    <a class="dem" href="/people/students">
      Students
    </a>
  </div>
  <div class="col-md-4 dem-box sbo color-inverse">
    <a class="dem" href="/people/small_businesses">
      Small Business Owners
    </a>
  </div>
  <p>people works!</p>
  <div class="col-md-4 btn-box">
    <a class="btn" href="/stories">
      Stories
    </a>
</div>
