<p><b>Article Author: Brooke Heath</b></p>
<p><b>March 30, 2020</b></p>
<br>
<p>
    Everyone has faced at least some form of financial stress in their lives. Whether it was a late phone bill, being
    laid off from work, or being evicted from your home. Believe it or not, we all have bills to pay.
</p>
<p>
    Some families or individuals live from paycheque to paycheque. They perceive time in either biweekly or weekly
    segments. “I can’t afford groceries this week, I don’t get paid for another week!”; a situation that many families
    experience on a regular basis. Let me tell you a little bit about my experience living on my own at 20 years old
    with no parental support. At the start of the what we now know as a global pandemic, things were already a little
    rough. Being an indigenous student, I get a monthly allowance (approx. one thousand dollars). That money is supposed
    to pay my rent, my meals, and any personal bills that I would have. Although since my rent increased from four
    hundred to seven hundred, I was short every month. I started a credit account and quickly began to accumulate debt,
    which I would not be able to pay off in time due to a mental health disability. I can only imagine that hundreds or
    even thousands of others are in the same boat as I am. COVID-19 has disrupted the normal functioning of our society
    to an extreme.
</p>
<p>
    Once the COVID-19 virus spread internationally, schools began to move to an online format and cancelled face-to-face
    instruction and workplaces sent their employees to work from home. Students who learn by engaging with the
    professors would be at a disadvantage. Non-essential businesses (restaurants, malls, bars) shut down, taking away
    income to many student and non-student workers. Many students who are living on their own have to work in order to
    make ends meet. Closing down workplaces puts thousands at a disadvantage. As summer approaches, those in school look
    for jobs to support themselves while not studying. With local businesses being shut down, students can’t do this.
    How will students from low-income families afford rent, groceries, bills and other essentials?
</p>
<p>
    The government offered to help the millions of Canadians who are facing unemployment by giving employers 75% of the
    regular wage so that they can pay their employees. Will it suffice? Only time will tell.
</p>
<h3>Remarks</h3>
<p>
  There is still so much more we haven't covered in this essay. 
  As the pandemic continues to develop, we encourage everyone to take a cautionary approach when reading any information about Covid-19. 
  Here are our references for this essay:
</p>
<div id="references">
    https://globalnews.ca/news/6742082/coronavirus-brewery-reacts-wage-subsidy/
</div>