<h3>In 2019, there were 7.71 billion people <a class="ref" href="#refs">¹</a> </h3>
<h3>In 2019, 44.848% of the world's workers were considered vulnerable <a class="ref" href="#refs">²</a> </h3>
<p>/ That's 3.46 billion people /</p>
<h3>In 2020, there's projected to be 7.77 billion people <a class="ref" href="#refs">³</a> </h3>

<p>
  If this trend continues, there could be as much as 3.44 billion vulnerable workers in 2020 
  and this isn't even taking into account the people who'll unfortunately join that demographic as a result of covid-19. 
</p>
<p>
  Here are some real situations workers are facing:
</p>


<!-- https://www.google.com/publicdata/explore?ds=d5bncppjof8f9_&met_y=sp_pop_totl&hl=en&dl=en
https://data.worldbank.org/indicator/SL.EMP.VULN.MA.ZS
https://www.worldometers.info/world-population/
<a href="">
    <i class="fas fa-external-link-alt"></i>
  </a> -->
