<p><b>Article Author: Sebastian Gadzinski</b></p>
<p><b>March 29, 2020</b></p>
<br>
<p>
    Unless your business is making ventilators, masks, or toilet paper, trying to start or run your own business during
    times like these are extremely tough. Ever since COVID-19 was discovered, large companies all over the world have
    been experienced drops in sales over time, leading to laying off workers, or even closing the business. “In my one
    job I was temporarily laid off, and my other one didn’t even message us, they just ghosted us”, Liz Tuomi from
    Ottawa Ontario. People are afraid to go out and buy things because they don’t want to catch the virus. If these
    large companies are struggling, imagine the small businesses.
</p>
<h3>Unemployment</h3>
<img src="/assets/img/unemployment.png" width = 70% hieght="40px" alt="">
<br>
<small>The new analysis shows that last week's likely spike in unemployment claims due to the current coronavirus pandemic
  is unprecedented in U.S. history. (Image: Economic Policy Institute)</small><br>
<h3>
    Government Help
</h3>
<p>
    Governments are trying to help the small businesses by providing them instant cash, ranges differ between
    governments. In Canada they are trying to support businesses with 2000$ a month who are not receiving a paycheck as
    a result of COVID-19, and for the next couple of months, up to a maximum of $1,375 per employee and $25,000 per
    employer. Along with that the Canada Revenue Agency will defer tax payments until August 31, 2020, to help
    businesses with cash flow.
</p>
<h3>
    Small Businesses That Were Affected the Most
</h3>
<p>
    If you’re a restaurant, gym, or coffee shop owner, you have probably closed shop and will stay closed until this
    virus goes away. These three categories of small businesses everywhere have taken a big hit in the business
    world due to the restrictions on gathering of people.
</p>
<h3>
    Do you own a Small Business?
</h3>
<p>
    Create a Story on how your business has been affected on our forum: <a href="/stories">Real People Stories</a>
</p>
<div id="references">
  https://www.canada.ca/en/services/business/maintaingrowimprovebusiness/resources-for-canadian-businesses.html <br>
  https://www.forbes.com/sites/nextavenue/2020/03/23/how-the-coronavirus-is-impacting-small-business-owners/#6f01ca3e473a <br>

</div>