<h3>In 2019, there were 7.71 billion people ¹</h3>
<h3>In 2019, 44.848% of the world's workers were considered vulnerable ²</h3>
<p>/ That's 3.46 billion people /</p>
<h3>In 2020, there's projected to be 7.77 billion people</h3>
<p>
  If this trend continues, there could be as much as 3.44 billion vulnerable workers in 2020
  and this isn't even taking into account the people who'll unfortunately join that demographic as a result of covid-19.
</p>
<p>
  Here are some real situations workers are facing:
</p>
<ul>
  <li>Unpaid sick leave</li>
  <li>Layoffs</li>
  <li>Longer required hours</li>
  <li>Exposure to the virus at work</li>
</ul>
<h3>Unpaid Sick Leave</h3>
<p>
  Many hourly workers already either don't receive paid sick leave or are given relatively little pay. 
  The consequence of this is heightened by Covid-19 because the prevalence of the virus increases the likelihood of a worker needing to take leave off work as a result of sickness. 
  As a result of this, an hourly worker is less likely to take time off work if they're ill because they depend on the income, further exposing their co-workers to the virus and worsening the situation.
</p>
<p>
  Employers who do give their hourly employees fair paid leave will potentially still have to reduce or deny paid sick leave as a result of the virus. 
  As explained in our other pages, the pandemic has affected many sectors of trade and has constricted the supply chain. 
  An employer may be forced, as a result of reduced income and labour to protect their interests as a measure to avoid closure.
</p>
<p>
  <i>(We feel it is important to add that many governments are providing insurance or some form of compensation for workers who are affected by the pandemic.)</i>
</p>
<h3>Layoffs</h3>
<p>
  Many hourly workers will be even harder hit than the above through mandatory temporary layoffs to reduce the density of their workplace and to protect other workers if one contracts the disease. 
  In Canada, some provinces have introduced changes to their laws surrounding layoffs as more and more companies are forced to take their employees off work.
</p>
<h3>Exposure to the Virus at Work</h3>
<p>
  We are all being advised to stay home as much as possible but the story is quite different for those who still need to physically show up to work. 
  By showing up to work, not only are they exposing themselves to the virus from clients/customers but they're also exposing themselves to exposure from their co-workers and from others on their way to and from work. 
  Governments, including Canada, recognise that a confirmed case of Covid-19 in the workplace constitutes a workplace hazard and give the employee more freedom to deal with the situation in such a case.
</p>
<h3>Remarks</h3>
<p>
  There is still so much more we haven't covered in this essay. 
  As the pandemic continues to develop, we encourage everyone to take a cautionary approach when reading and information about Covid-19. 
  Here are our references for this essay:
</p>
<div id="references">
  ¹ https://www.worldometers.info/world-population/<br>
  ² https://data.worldbank.org/indicator/SL.EMP.VULN.MA.ZS<br>
  https://www.alberta.ca/temporary-layoffs.aspx<br>
  https://winnipeg.ctvnews.ca/province-announces-changes-to-layoff-legislation-due-to-pandemic-1.4871573<br>
  https://globalnews.ca/news/6744109/manitoba-changes-layoffs-coronavirus/<br>
  https://medium.com/@sat2.jordan/im-also-an-amazon-fulfillment-center-worker-in-my-20s-and-my-experience-has-been-quite-different-44f5338046d0<br>
  https://globalnews.ca/news/6748469/coronavirus-truckers-canada-u-s/<br>
  https://www.canada.ca/en/government/publicservice/covid-19/employee-illness-leave.html<br>
</div>