<p> <b>Article Author: Sebastian Gadzinski</b></p>
<p> <b>March 29, 2020</b></p>
<br>
<p>
Everywhere around the world covid19 has been damaging economies, businesses, and peoples lives. One big area that’s been
struggling ever since the outbreak is schools, and most importantly the students. I myself am a student in my third year
studying Computer Science at Carleton university in Ottawa, Ontario. Currently its near exam season and everyone should
be in the library studying away, on Adderall trying to cram out a whole semester in a month. But I’m writing this
article from home, because like Carleton, almost all students have evacuated from school’s back to home, leaving all
campuses as ghost towns.
</p>
<h3>
In Class -> Online
</h3>
<p>
Now online learning isn’t really that bad for a student in computer science because that’s where I learn the most, but
for others that not the deal. Students everywhere are struggling with the conversion of not being able to learn from in
class lectures and having to listen to there teacher through a boring computer screen.
</p>
<p>
On the contrary, some students prefer learning online because it allows them to take control over their own
learning, and they can work at there own speeds. In universities and almost all schools, most lectures are being
held on Zoom or Twitch, which are streaming services. Now this causing a lot of problems because most professors are
technologically impaired and still don’t know how to share a post on Facebook, how do you expect them to use a
streaming service.
</p>
<h3>
Grades
</h3>
<p>
If you’re like me you’re not going to let your graduation date get any further than it has to be and your going to try
everything to pass these courses and keep your GPA up. Carleton university and schools all over the globe are allowing a
PASS/FAIL option. This is big news. This means if you are having a bad grade and don’t want it to show on your GPA you
can just PASS the course giving it a standing of SAT, satisfactory. This will not affect your GPA, but that doesn’t mean
your grade goes away. The grade is kept for prerequisites, and Grad schools to view.
</p>
<h3>
High Schools and Elementary School
</h3>
<p>
Now normally if I didn’t have to go to school back in the day, I would have loved it. I would call my friends and we
would all hangout and have a good time. But no. Not today. In Ontario they restricted group gatherings to no more than 5
people. So, kids are just sitting at home bored out of there mind, most likely annoying their parents, and getting
educated the same way as all students at the moment, through online services.
</p>
<h3>
International Students
</h3>
<p>
The students that have it the worst. They must fly home early, go through all the covid19 security check ups along the
way, continuing school at every step. And if they get tested positive along the way, then what? They can’t go home to
the confront of there families. They must isolate themselves all alone in a country that’s most likely panicking from
the virus. Luckily the virus is not as threating for most international students because it most are young and the virus
mostly effects the elderly, but there are old students and ones with weak immune systems that are at risk.
</p>
<h3>
Does This Mean I Can’t Graduate?
</h3>
<p>
Most courses from schools have successfully converted to online and student will be able to pass. But that is not for
every school. This is school specific; you must check in with your own school.
</p>
<h3>
How Can Universities Improve Online Learning
</h3>
<p>
The reason why people are converting to online universities are because of there pre-recorded classes. Students learn
better when they can learn at there own pace and have unlimited access to the knowledge being tested. When you daze of
in math lecture you miss half of what they prof said and won’t be able to really grasp that concept being teacher.
Recording the lectures and posting it for students to see will raise the overall average of a class a solid 10%. But
most universities don’t want their lectures being posted online because people can use software like OBS, record them,
and post them for free use. This defeats the purpose of paying for university lecture.
</p>
<h3>Remarks</h3>
<p>
  There is still so much more we haven't covered in this essay. 
  As the pandemic continues to develop, we encourage everyone to take a cautionary approach when reading any information about Covid-19. 
  Here are our references for this essay:
</p>
<div id="references">
  https://www.spokesman.com/stories/2020/mar/11/high-school-seniors-could-graduate-in-2020-even-if/ <br>
  https://www.wbur.org/onpoint/2020/03/16/school-closures-coronavirus <br>
  https://www.dexway.com/5-reasons-why-online-learning-is-more-effective/

</div>